/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  min-height: 100vh;
  background: #242424;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

/* ROOT */
#root {
  min-height: 100vh;
  width: 100%;
}
